#contact.section .container a {
  padding: 0px;
  margin: 0 50px;
}

#contact .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: cursive;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

#contact .prompt {
  font-size: 1.7vw;
  text-align: center;
  font-weight: 600;
  font-family: cursive;
  color: #063728b0;
  margin-bottom: 15px;
  
}

#contact .row{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

#contact input{
  box-sizing: border-box;
}

#contact textarea.form-control {
  height: auto;
}

@media (min-width: 992px){
  .col-md-6 {
    width: 49%;
  }
  .col-md-6.userName {
    float: left;
  }
  .col-md-6.userEmail {
    float: right;
  }
}

/**************************************************/
#contact .php-email-form {
  padding-bottom: 30px;
  background: rgba(255, 255, 255, 0.08);
}
#contact .php-email-form .error-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
#contact .php-email-form .sent-message {
  display: none;
  padding: 15px;
  background: rgba(255, 255, 255, 0.08);
  background: #008058e3;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  color: azure;
}
#contact .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 15px;
}
#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #008042e3;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form button[type=submit] {
  background: #1c8e6a;
  border: 0;
  padding: 10px 30px;
  color: azure;
  transition: 0.4s;
  border-radius: 4px;
  font-weight: 600;
}
#contact .php-email-form button[type=submit]:hover {
  background: #21a57b;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
